.App {
  display: flex;
  height: 100vh;
}

.left-column {
  width: 12%;
  background: linear-gradient(to bottom, #19105B, #6d1b7b, #ed4981);
  padding: 22px 20px;
} 

.right-column {
  width: 80%;
  background-color: White; /* light gray background color */
  padding: 10px 20px;
}

.left-column ul {
  list-style: none;
  padding: 0;
  color:white;
  font-weight: 600;
}

.left-column li {
  margin-bottom: 10px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}